.navbar-container {
  background-color: #8B0000;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-icon {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

li.active {
  border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #8B0000;
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
  }

  ul.active{
    display:flex;
  }
  

  li {
    margin: 0;
    padding: 10px;
  }
}
