<app-navbar></app-navbar>

<div class = "main-container">
  <div class = "background-image">
    <div class="contact-container">
      <h2 class="contact-title">Contact Information</h2>
      <smart-card class="contact-card">
        <div class="card-item">
          <strong>First Name:</strong> Tudor-Vlad
        </div>
        <div class="card-item">
          <strong>Last Name:</strong> Muresan
        </div>
        <div class="card-item">
          <strong>Phone:</strong> +40 731 985 190
        </div>
        <div class="card-item">
          <strong>Office:</strong> 
          Babes-Bolyiai University,
          Cluj-Napoca
        </div>
        <div class = "card-item icons-container">
          <a [href]="facebookLink" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a [href]="emailLink" target="_blank">
            <i class="fa-solid fa-envelope"></i>
          </a>
          <a [href]="skypeLink" target="_blank">
            <i class="fa-brands fa-skype"></i>
          </a>
          <a [href]="whatsappLink" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </smart-card>
    </div>
  </div>
</div>

<app-footer></app-footer>


  