<app-navbar></app-navbar>
<div class="main-container">
  <div class="background-image">
    <div class="teaching-subject-container">
      <h2>Software Engineering</h2>

      <div class="schedule">
        <h3>Schedule</h3>
        <p>Lectures: Monday, 10:00 AM - 12:00 PM</p>
        <p>Seminars: Wednesday, 2:00 PM - 4:00 PM</p>
        <p>Laboratories: Monday, 12:00 PM - 2:00 PM</p>
      </div>

      <div class="teams-id">
        <p>*Join on Microsoft Teams: z10g52c</p>
      </div>

      <div class="pdf-sections">
        <div class="pdf-section">
          <h3>Lectures</h3>
          <h5>All the lectures will be posted here in this section following each week.</h5>
          <a href="../../assets/documents/lecture1.pdf" download="lecture1.pdf">Lecture 1</a>
          <a href="../../assets/documents/lecture2.pdf" download="lecture2.pdf">Lecture 2</a>
        </div>

        <div class="pdf-section">
          <h3>Section 2</h3>
          <h5>All the seminars will be posted here in this section following each week.</h5>
          <a href="../../assets/documents/seminar1.pdf" download="seminar1.pdf">Seminar 1</a>
        </div>

        <div class="pdf-section">
          <h3>Section 3</h3>
          <h5>All the laboratories will be posted here in this section following each week.</h5>
          <a href="../../assets/documents/lab1.pdf" download="lab1.pdf">Lab 1</a>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>