<app-navbar></app-navbar>
<div class="main-container">
  <div class="background-image">
    <div class="personal-info-container">
      <h2>My personal Information</h2>
      <div class="profile-details">
        <p><strong>Name:</strong> Tudor-Vlad Muresan</p>
        <p><strong>Position:</strong> University Teacher</p>
        <p><strong>Department:</strong> Computer Science Department</p>
        <p><strong>Experience:</strong> Teaching since 2021, fostering innovation and growth in students.</p>
        <p><strong>Research Interests:</strong> Software Engineering, OOP, Web Technologies</p>
      </div>

      <div class="achievements-section">
        <h3>Personal Achievements</h3>
        <ul>
          <li>Contributed to the creation of a cutting-edge programming language that simplifies complex algorithms.</li>
          <li>Published a series of interactive e-books to enhance student engagement in software engineering.</li>
          <li>Collaborated with industry professionals to implement real-world projects in the curriculum, providing students with practical experience.</li>
        </ul>
      </div>

      <div class="interests-section">
        <h3>Interests and Hobbies</h3>
        <ul>
          <li>Reading software architecture and innovation related books.</li>
          <li>Keeping up with the latest technologies and exploring new programming languages.</li>
          <li>Watching movies to unwind and draw inspiration.</li>
          <li>Playing basketball to stay active and maintain a healthy lifestyle.</li>
          <li>Engaging in volunteering activities to make a positive impact in other people's lives.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>